@mixin for-small-screens {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin for-medium-screens {
  @media only screen and (min-width: 481px) and (max-width: 1000px) {
    @content;
  }
}

@mixin button {
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
    cursor: url(/assets/hand-cursor-pointer2.png), pointer;
  }
}
