@import '../shared/mixins.scss';

.Knob {
  position: relative;
  margin-right: 10px;
  height: 100%;

  .normalKnob {
    height: 100%;
    display: inline-block;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      cursor: url(/assets/hand-cursor-pointer1.png), pointer;
    }

    svg {
      height: 100%;
      width: auto;

      g.wrapper {
        transition: transform 0.2s ease-in-out;
        transform-origin: 49% 50%;
        margin: 0 10px;
      }
    }
  }

  .led {
    position: absolute;
    bottom: 0;
    right: -12px;
    width: 10px;
    height: 10px;
    border: 3px solid #000000;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: none;

    &.playing {
      background-color: #f00;
      box-shadow: 0 1px 6px #f00, inset 1px 1px 2px #300;
    }
  }
}
